#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box{
  width: 30rem;
  height: auto;
  background-color: white;
  color: black;
  padding: 2rem 0rem;
  border-radius: 8px;
}

.input-box{
  border: 2px solid black;
  background: white;
  margin-bottom: 2rem;
  height: 2rem;
  border-radius: 5px;
  color: black;
}

